*
  box-sizing: border-box
html
  scroll-behavior: smooth
// body
//   +reg
img
  max-width: 100%
.container
  width: 1170px
  margin: auto
@media (max-width: 1200px)
  .container
    width: 766px
@media (max-width: 768px)
  .container
    max-width: 580px
    width: 90%
  .section
    padding-top: 60px
    padding-bottom: 60px
@media (max-width: 568px)
  .container
    max-width: 320px
