.blog
  &-block
    display: flex
    justify-content: space-evenly
    align-items: flex-start
    flex-wrap: wrap
  &-convinces
    max-width: 585px
    &__title
      font-size: 35px
      line-height: 45px
      color: $main-color
      max-width: 520px
    &__description
      font-size: 16px
      line-height: 27px
      color: #757575
    &__footer
      display: flex
      justify-content: space-between
  .footer
    &-links
      &__item
        text-decoration: none
        color: #757575
        font-size: 14px
        line-height: 25px
        padding: 12px 26px
        &:hover
          background: #FFF8EB
          border-radius: 30px
        &:last-child
          margin-right: 0
    &-date
      font-size: 14px
      line-height: 25px
      color: #757575
  &-swiper
    max-width: 340px
  .swiper
    &-slide
      &__title
        font-size: 45px
        line-height: 60px
        color: $main-color
        max-width: 220px
        margin: 0
      &__description
        font-size: 18px
        line-height: 29px
        color: #757575
        padding-bottom: 60px
      &__button
        background: #FFA63A
        border-radius: 30px
        padding: 16px 30px
        border: none
        color: #fff
        font-size: 18px
        line-height: 29px
        margin-bottom: 170px
