.hero
  background-color: $main-color
  background-image: url("../img/bg.webp")
  overflow: hidden
  padding-bottom: 120px
  &-block
    padding-top: 60px
    display: flex
    flex-direction: column
    align-items: center
    padding-bottom: 60px
  &-text
    display: flex
    flex-direction: column
    justify-content: flex-end
    text-align: center
    margin-bottom: 30px
  &-subtitle
    display: inline-block
    color: $seconderyText-color
    font-size: 24px
    border-radius: 25px
    background-color: $buttonDisable-color
    padding: 15px 30px 15px 30px
    margin-bottom: 40px
    +bell
  &-title
    +bold
    font-size: 48px
    line-height: 60px
    max-width: 540px
    color: $seconderyText-color
    margin-bottom: 30px
  &-description
    display: inline-block
    font-size: 18px
    line-height: 29px
    max-width: 485px
    margin-bottom: 50px
    color: #849499
  &-image
    display: flex
    flex-direction: column
    align-items: center
  &-links
    &__item
      text-align: center
      display: inline-block
      text-decoration: none
      color: #B6CDD5
      font-size: 18px
      line-height: 29px
      padding: 15px 35px 15px 35px
      &:hover
        color: $seconderyText-color
        border-radius: 25px
        background-color: $buttonActive-color
  &-reference
    margin-top: 30px
    padding: 20px 28px 20px 28px
    background: rgba(255, 255, 255, 0.08)
    border: 3px solid rgba(255, 255, 255, 0.5)
    box-sizing: border-box
    backdrop-filter: blur(58px)
    border-radius: 20px
    max-width: 320px
    &__description
      color: $seconderyText-color
      max-width: 250px
      font-size: 14px
      line-height: 22px
    &__person
      display: flex
      align-items: center
      &__image
        margin-right: 15px
      &__info
        display: flex
        flex-direction: column
        color: $seconderyText-color
        font-size: 16px
        line-height: 22px
      &__name
        +bold
@media ( min-width: 768px )
  .hero
    &-title
      font-size: 68px
      line-height: 80px
@media ( min-width: 1200px )
  .hero
    &-block
      flex-direction: row
      justify-content: space-between
@media ( min-width: 1440px )
  .hero
    &-image
      position: relative
    &-reference
      position: absolute
      right: 0
      bottom: 319px
      transform: translate(133px, 10px)
@media ( min-width: 1600px )
  .hero
    &-image
      position: relative
    &-reference
      position: absolute
      right: 0
      bottom: 330px
      transform: translate(215px, 10px)
